.header
{
	background:#007bff;
	height:80px;
	font-size:50px;
	font-face:algerian;
	font-style: italic;
	text-align:center;
}
.left
{
	background:#17a2b8;
	height:580px;
	float:left;
	font-size:15px;
}	

.right
{
	height:580px;
	background:gray;
	font-size:15px;
}
.footer
{
	background:yellow;
	height:70px;
}
table
{
border:2px solid #000;
width:65%;
display:block;
overflow-x: scroll;
text-align:center;
}
img
{
padding:27px 10px 50px;
width:250px;
height:253px;
}

a
{
margin:40px;
}
iframe
{
	margin:15px;
}
@media screen and (max-width:576px)
{
.left

{width:100%;}
.right
{height:100%;}
.right
{width:100%;}
.header
{font-size:30px;}
.footer
{height:100%;}
}